<div class="leftbar">
    <div class="header">
        <div class="header-row">
            <mat-icon class="close-button" (click)="closeMenu()">close</mat-icon>
            <mat-icon class="no-icon">close</mat-icon>
        </div>
    </div>
    <a routerLink="game" (click)="closeMenu()">
        <mat-card class="link-section">
            Game
        </mat-card>
    </a>
    <a routerLink="help" (click)="closeMenu()">
        <mat-card class="link-section">
            Rules
        </mat-card>
    </a>
    <a routerLink="info" (click)="closeMenu()">
        <mat-card class="link-section">
            Info
        </mat-card>
    </a>

</div>
