:root {
  --color-text: #e8e8e8;
  --color-background: #161d21;
  --color-violet-light: rgba(107, 30, 172, 0.7);
  --color-violet-dark: rgba(83, 13, 164, 1);
  --color-link: deepskyblue;
  --color-transparent: rgba(0, 0, 0, 0);
  --color-action-primary: orange;
  --color-action-secondary: #885500FF;
  --color-selection-border: #e8e8e8;
  --color-match: #51c261;
  --color-partial: #c6b62a;
  --color-miss: #8f8f8f;
  --color-none: #b4aaaa80;
  --color-fake: #FF0000;

  --game-width: 620px;
}
