.keyboard-tile {
  width: 88px;
  height: 88px;

  .image-holder {
    position: relative;
  }

  .image-holder-match {
    background: var(--color-match);
  }

  .image-holder-partial {
    background: var(--color-partial);
  }

  .image-holder-miss {
    background: var(--color-miss);
    border: none;

    img {
      opacity: 0.7;
      filter: grayscale(100%);
    }
  }

  .image-holder-none {
    background: var(--color-none);
  }

  img {
    display:block;
    width: 88px;
    height: 88px;
  }
}
