.selection-box {
  background-color: var(--color-violet-light);

  .person-area {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .inner-box {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .left-box {
        width: 110px;

        .flag {
          width: 28px;
          height: 20px;
          position: absolute;
          left: 152px;
        }
      }

      .box {
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .data-block {
          display: flex;
          flex-direction: column;
          justify-content: left;
          gap: 13px;

          .info-block {
            display: flex;
            flex-direction: column;
            justify-content: left;
            gap: 5px;
          }

          .skills-block {
            display: flex;
            flex-direction: column;
            justify-content: left;
          }

          .person-block {
            color: var(--color-text);
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .person-function {
              font-size: 16px;
              padding-right: 5px;
            }

            .person-data-name {
              font-size: 28px;
              font-weight: 500;

              .flag {
                width: 27px;
                height: 20px;
                margin-left: 5px;
              }
            }

            .person-data-groups {
              font-size: 18px;
              font-weight: 400;
              overflow: hidden;
            }

            .person-data {
              overflow-wrap: anywhere;

              ul {
                margin-block-start: 0em;
                margin-block-end: 0em;
                padding-inline-start: 20px;

                li {
                  margin-bottom: 1px;
                }
              }
            }
          }
        }
      }

      .right-box {
        margin: 10px 20px 10px 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      img {
        background-color: var(--color-none);
        //border: var(--color-text) solid 1px;
        width: 110px
      }
    }
  }
  .button-area {
    padding: 0px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

