<div class="selection-box">
    <div class="person-area">
        <div class="inner-box">
            <div class="box left-box">
                <img src="/assets/artists/{{artist?.image}}.png">
                <img *ngIf="false" class="flag" src="/assets/flags/4x3/{{artist?.country}}.svg"
                     alt="{{artist?.country | uppercase}}">
            </div>
            <div class="box right-box">
                <div class="data-block">
                    <div class="info-block">
                        <div class="person-block">
                            <div class="person-data person-data-name">
                                {{artist?.name}}
                                <img class="flag" src="/assets/flags/4x3/{{artist?.country}}.svg"
                                     alt="{{artist?.country | uppercase}}">
                            </div>
                        </div>
                    </div>
                    <div class="info-block">
                        <div class="person-block">
                            <div class="person-data person-data-groups">
                                <ul>
                                    <li *ngFor="let groupName of artist?.groups">{{groupName}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="false" class="skills-block">
                        <div class="person-block">
                            <div class="person-function">Energy:</div>
                            <div class="person-data">
                                <app-star [rating]='4'></app-star>
                            </div>
                        </div>
                        <div class="person-block">
                            <div class="person-function">Agility:</div>
                            <div class="person-data">
                                <app-star [rating]='3'></app-star>
                            </div>
                        </div>
                        <div class="person-block">
                            <div class="person-function">Musican:</div>
                            <div class="person-data">
                                <app-star [rating]='5'></app-star>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

