<div class="header">
    <div class="header-row">
        <mat-icon (click)="clickMenu()">menu</mat-icon>
        <div class="center-text">
            <div class="title">
                <div class="title-text">
                    Impr
                </div>
                <div class="logo-container">
                    <img class="logo" src="/assets/logo_jo_fiolet.png" alt="Jo!"/>
                </div>
                <div class="title-text">
                    vle
                </div>
            </div>
            <div class="subtitle">
                JO! Improv version of
                <a href="https://www.google.com/search?q=wordle" target="_blank">WORDLE</a>
            </div>
        </div>
        <mat-icon class="no-icon" *ngIf="!game.easyModeFeatureOn()">help_outline</mat-icon>
        <mat-icon matTooltip="Enable easy mode" class="easy-mode-off" *ngIf="game.easyModeFeatureOn() && !game.easyMode" (click)="toggleEasyMode()">swap_horiz</mat-icon>
        <mat-icon matTooltip="Disable easy mode" class="easy-mode-on" *ngIf="game.easyModeFeatureOn() && game.easyMode" (click)="toggleEasyMode()">swap_horizontal_circle</mat-icon>
    </div>
</div>


