<div class="header">
    <div class="header-row">
        <mat-icon (click)="clickMenu()">menu</mat-icon>
        <div class="center-text">
            <div class="title">
                <div class="title-text">
                    Impr
                </div>
                <div class="logo-container">
                    <img class="logo" src="/assets/logo_jo_fiolet.png" alt="Jo!"/>
                </div>
                <div class="title-text">
                    vle
                </div>
            </div>
            <div class="subtitle">
                JO! Improv version of
                <a href="https://www.google.com/search?q=wordle" target="_blank">WORDLE</a>
            </div>
        </div>
        <mat-icon class="no-icon">help_outline</mat-icon>
    </div>
</div>


