.header {
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-direction: column;
  height: 60px;

  .header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .mat-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--color-text);
      margin: 15px 10px 0px 10px;
      width: 64px;
      font-size: 64px;
      padding-top: 5px;
    }

    .no-icon {
      color: var(--color-transparent);
    }

    .center-text {
      .title {
        text-transform: uppercase;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 3px;
        margin-top: 15px;
        color: var(--color-text);
      }

      .subtitle {
        font-size: 14px;
        color: var(--color-text);
      }
    }
  }

}


