.header {
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-direction: column;
  height: 90px;

  .header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .logo-container {
      background-color: var(--color-text);
      border-radius: 50%;
      width:37px;
      height:37px;
      margin: 2px 0px 0px 2px;

      .logo {
        width: 30px;
        height: 30px;
        margin-top: 3px;
        margin-right: 3px;
        //filter: brightness(0) invert(1);
      }
    }

    .mat-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--color-text);
      margin: 15px 10px 0px 10px;
      width: 64px;
      font-size: 64px;
      padding-top: 5px;
    }

    .no-icon {
      color: var(--color-transparent);
    }

    .center-text {
      .title {
        text-transform: uppercase;
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 5px;
        margin-top: 10px;
        color: var(--color-text);
        display: flex;
        flex-direction: row;
        justify-content: center;

        .title-text {
          padding-top: 12px;
        }
      }

      .subtitle {
        font-size: 18px;
        color: var(--color-text);
      }
    }
  }
}

.easy-mode-off {
  font-size: 44px!important;
}

