.input-tile {

  img {
    display:block;
    width: 100%;
    height: 100%;
  }
}

.input-tile-current {
  height: 86%;
  width: 86%;
  margin: 7%;
  background-image: url('/assets/question-mark.png');
  background-size: cover;
}

div.empty-tile {
  border: 3px solid var(--color-selection-border);
}
