<div class="game-keyboard">
    <div class="keyboard-row">
        <div class="keyboard-tile"></div>
        <div class="keyboard-tile"></div>
        <div class="keyboard-tile"></div>
        <div class="keyboard-tile"></div>
        <div class="keyboard-tile"></div>
        <div class="keyboard-tile"></div>
    </div>
    <div class="keyboard-row">
        <div class="keyboard-tile"></div>
        <div class="keyboard-tile"></div>
        <div class="keyboard-tile"></div>
        <div class="keyboard-tile"></div>
        <div class="keyboard-tile"></div>
    </div>
    <div class="keyboard-row">
        <div class="keyboard-tile"></div>
        <div class="keyboard-tile"></div>
        <div class="keyboard-tile"></div>
        <div class="keyboard-tile"></div>
        <div class="keyboard-tile"></div>
        <div class="keyboard-tile"></div>
    </div>
    <div class="keyboard-row">
        <div class="keyboard-tile function-key key-check">CHECK</div>
        <div class="keyboard-tile"></div>
        <div class="keyboard-tile"></div>
        <div class="keyboard-tile"></div>
        <div class="keyboard-tile function-key key-back"><mat-icon>backspace</mat-icon></div>
    </div>
</div>
