.info-box {
  padding: 15px;

  h2 {
    font-size: 22px;
  }
  li {
    font-size: 18px;
    padding-bottom: 0px;
  }
}

.generate-button {
  color: white;
  background-color: forestgreen;
  padding: 10px 30px;
  border-radius: 8px;
  border: none;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 26px;
}
