<div class="info-box">
    <h2>JO! International Improv Festival</h2>
    <h3>19-24 July 2022</h3>
    <h4>Toruń/Poland</h4>

    <a href="https://facebook.com/events/s/jo-2022-international-improv-f/1009290269702600/" target="_blank">
        <mat-card class="link-section">
            JOIN EVENT
        </mat-card>
    </a>
    <a href="http://bit.ly/JO2022Tickets" target="_blank">
        <mat-card class="link-section">
            BUY TICKETS
        </mat-card>
    </a>
    <a href="http://bit.ly/JO22INFO" target="_blank">
        <mat-card class="link-section">
            MORE INFO
        </mat-card>
    </a>
    <a href="http://bit.ly/JO22Workshops" target="_blank">
        <mat-card class="link-section">
            WORKSHOPS
        </mat-card>
    </a>
    <a href="http://bit.ly/frgg" target="_blank">
        <mat-card class="link-section">
            CUTE FROGGO
        </mat-card>
    </a>
    <a href="https://www.facebook.com/groups/1312359515534064/?ref=share" target="_blank">
        <mat-card class="link-section">
            OUR COMMUNITY
        </mat-card>
    </a>

    <!--    <div class="generate-button" (click)="onClick()">GENERATE</div>-->
    <!--    <div>Artists distribution</div>-->
    <!--    <ul>-->
    <!--        <li *ngFor="let res of result">{{res}}</li>-->
    <!--    </ul>-->
</div>
