<div class="game-board">
    <div class="game-row">
        <div class="game-tile"></div>
        <div class="game-tile"></div>
        <div class="game-tile"></div>
        <div class="game-tile"></div>
        <div class="game-tile"></div>
    </div>
    <div class="game-row">
        <div class="game-tile"></div>
        <div class="game-tile"></div>
        <div class="game-tile"></div>
        <div class="game-tile"></div>
        <div class="game-tile"></div>
    </div>
    <div class="game-row">
        <div class="game-tile"></div>
        <div class="game-tile"></div>
        <div class="game-tile"></div>
        <div class="game-tile"></div>
        <div class="game-tile"></div>
    </div>
    <div class="game-row">
        <div class="game-tile"></div>
        <div class="game-tile"></div>
        <div class="game-tile"></div>
        <div class="game-tile"></div>
        <div class="game-tile"></div>
    </div>
    <div class="game-row">
        <div class="game-tile"></div>
        <div class="game-tile"></div>
        <div class="game-tile"></div>
        <div class="game-tile"></div>
        <div class="game-tile"></div>
    </div>
    <div class="game-row">
        <div class="game-tile"></div>
        <div class="game-tile"></div>
        <div class="game-tile"></div>
        <div class="game-tile"></div>
        <div class="game-tile"></div>
    </div>
</div>
