.game-board {
  //background-color: green;
  height: calc(((var(--vh, 1vh) * 100) - 480px));
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px 15px;
  //gap: 5px;

  .game-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    //gap: 5px;

    .game-tile {
      width: calc(((var(--vh, 1vh) * 100) - 480px) / 7);
      height: calc(((var(--vh, 1vh) * 100) - 480px) / 7);
      border: var(--color-text) solid 3px;
    }
  }
}
