/* You can add global styles to this file, and also import other style files */

@import "styles/variables";

html, body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  background-color: var(--color-background);
  color: var(--color-text);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  margin: 0px;
  //font-family: Roboto, "Helvetica Neue", sans-serif;
}

a:link, a:hover, a:active, a:visited {
  color: var(--color-link);
  text-decoration: none;
}

.mat-snack-bar-container {
  min-width: calc(var(--game-width) - 50px)!important;
  padding: 2px!important;
  margin:5px!important;
}
